<div fxLayout="column" fxFlexFill>
  <!-- Toolbar -->
  <mat-toolbar class="navbar-color mat-elevation-z8 p-0" fxLayout="row" fxLayoutAlign="start stretch">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>EleNa Application</span>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button aria-label="Info">
      <mat-icon>info</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container fxFlex autosize class="background">

    <!-- Sidenav -->
    <mat-sidenav #sidenav mode="side" opened>
      <app-sidenav></app-sidenav>
    </mat-sidenav>

    <!-- Main Content -->
    <div class="main-content">

    </div>
  </mat-sidenav-container>

  <router-outlet></router-outlet>
</div>