<!-- This component will handle the content in the sidenav -->
<div class="sidenav-rows">
    <div class="sidenav-row">
        <h2 style="font-family:roboto">From</h2>
        <mat-form-field appearance="standard">
            <mat-label>Lattitude</mat-label>
            <input matInput type="number" placeholder="0.00" [formControl]="fromLat" required>
            <mat-error *ngIf="fromLat.invalid">Enter a valid coordinate.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>Longitude</mat-label>
            <input matInput type="number" placeholder="0.00" [formControl]="fromLon" required>
            <mat-error *ngIf="fromLon.invalid">Enter a valid coordinate.</mat-error>
            <mat-icon matSuffix>my_location</mat-icon>
        </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <div class="sidenav-row">
        <h2 style="font-family:roboto">To</h2>
        <mat-form-field appearance="standard">
            <mat-label>Lattitude</mat-label>
            <input matInput type="number" placeholder="0.00" [formControl]="toLat" required>
            <mat-error *ngIf="toLat.invalid">Enter a valid coordinate.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>Longitude</mat-label>
            <input matInput type="number" placeholder="0.00" [formControl]="toLon" required>
            <mat-error *ngIf="toLon.invalid">Enter a valid coordinate.</mat-error>
            <mat-icon matSuffix>near_me</mat-icon>
        </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <div class="sidenav-row">
        <h2 style="font-family:roboto">Elevation</h2>
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button class="radio-button" value="1">Minimize</mat-radio-button>
            <mat-radio-button class="radio-button" value="2">Maximize</mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="button-container">
        <button (click)="getPath()" mat-raised-button >Find Path</button>
    </div>
</div>